config/ranger/history
config/vim/.vim/bundle/gruvbox
config/vim/.vim/bundle/cvim
config/vim/.vim/bundle/vim-airline
config/vim/.vim/bundle/vim-surround
config/vim/.vim/bundle/vim-fugitive
config/vim/.vim/bundle/auto-pairs
config/vim/.vim/bundle/LaTeX-Box
config/vim/.vim/bundle/neocomplete.vim
config/vim/.vim/bundle/vim-go
config/vim/.vim/bundle
config/vim/.vim/bundle/
config/vim/bundle
config/vim/undo
config/vim/deinvim/repos
config/zsh/dotfiles.zsh

