 [Desktop Entry]
 Name = Open in VS Codium
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=inode/directory
 X-KDE-Priority=TopLevel
 Actions=openInVSCodium
 
 [Desktop Action openInVSCodium]
 Name=Open in VS Codium
 Name[nl]=Openen in VS Codium
 Name[cs]=Otevřít ve VS Codium
 Name[es]=Abrir en VS Codium
 Name[pl]=Otwórz za pomocą VS Codium
 Name[zh]=在VS Codium中打开
 Name[zh_CN]=在VS Codium中打开
 Name[de]=In VS Codium öffnen
 Icon=com.visualstudio.code.oss
 Exec=vscodium %u
